@font-face {
    font-family: 'Nasalization';
    src:local("Nasalization"),
        url(../fonts/nasalization.woff2) format('woff2'),
        url(../fonts/nasalization.woff) format('woff');
}
@font-face {
    font-family: 'AllRoundGothic';
    src: local("AllRoundGothic"),
        url(../fonts/AllRoundGothic-Medium.woff2) format('woff2'),
        url(../fonts/AllRoundGothic-Medium.woff) format('woff');
}