/* general */
@keyframes sun {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes zoom-in {
    0% {
        transform: scale(0, 0);
        width: 0vw;
        height: 0 !important;
    }
    50%{
        transform: scale(0.1, 0.1);
        width: 0vw;
        height: 1px;
    }
    90%{
        transform: scale(1, 1);
        width: 0vw;
        height: 1px;
    }
    100% {
        transform: scale(1, 1);
        width: 80vw;
    }
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 100px;
    animation: navFadeIn 1s linear;
    width: 100%;
        &-title{
            margin-top: 250px;
            &-text{
                font-family: Nasalization;
                font-size: 25px;
                color: #BBC3C9;
                font-style: normal;
                font-weight: 400;
                text-align: center;
            }
        }
}
/* The Tooltip */
.tooltip {
    display:inline-block;
    position:relative;
    border-bottom:1px dotted #666;
    text-align:center;
}
.tooltip .right {
    min-width:80px;
    top:50%;
    left:100%;
    margin-left:10px;
    transform:translate(0, -50%);
    color: rgba(255, 255, 255, 0.872);
    background-color:#151E29;
    border-radius:8px;
    position:absolute;
    z-index:9;
    box-sizing:border-box;
    border:1px solid #888;
    filter: drop-shadow(0 0 1rem #000);
    visibility:hidden;
    opacity:0;
    transition:opacity 0.8s;
}
.tooltip:hover .right {
    visibility:visible; opacity:1;
}
.tooltip .right i {
    position:absolute;
    top:50%;
    right:100%;
    margin-top:-12px;
    width:12px;
    height:24px;
    overflow:hidden;
}
.tooltip .right i::after {
    content:'';
    position:absolute;
    width:12px;
    height:12px;
    left:0;
    top:50%;
    transform:translate(50%,-50%) rotate(-45deg);
    background-color:#151E29;
    border:1px solid #888;
    filter: drop-shadow(0 0 1rem #000);
}

/* The Modal (background) */
.modal {
    display: none;
    position: fixed;
    z-index: 3;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}
/* Modal Content */
.modal-content {
    background-color: #151E29;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    color: rgba(255, 255, 255, 0.872);
}
/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.close:hover,
.close:focus {
    color: white;
    text-decoration: none;
    cursor: pointer;
}

/* The Maps */
.maps{
    display: flex;
    width: 80vw;
    height: 260px;
    border: solid white 1px;
    box-shadow: 0 0 5px 5px black;
    overflow: hidden;
    margin-top: 30px;
    animation: zoom-in 5s linear ;
}
.maps-line{
    z-index: 0;
    display: block;
    position: absolute;
    width: 80%;
    height: 1px;
    margin-top: 125px;
    background-color: rgba(255, 255, 255, 0.1);
}

/* The Star */
.maps-star{
    z-index: 1;
    width: 400px;
    height: 400px;
    margin-top: -70px;
    margin-left: -300px;
    animation: sun 600s linear infinite;
}

/* The Planet */
.maps-planet1{
    z-index: 2;
    width: 100px;
    height: 100px;
    margin: 75px 0 0 20px;
    padding: 0;
    border: none;
    cursor: pointer;
    border-radius: 50%;
    background-color: transparent;
    transition: all 0.2s ease-in-out;
}
.maps-planet1:hover{
    filter: brightness(1.3);
}
.maps-planet1:active{
    filter: brightness(1);
}
.maps-planet1-img{
    width: 100px;
    height: 100px;
    transform: rotate(200deg);
    filter: drop-shadow(0 0 0.2rem #000);
}
.maps-planet1-img:hover{
    filter: drop-shadow(0 0 1rem #000);
    transition: all 0.2s ease-in-out;
}

/* The Moon */
.maps-moon1a{
    z-index: 2;
    width: 25px;
    height: 25px;
    margin: 200px 0 0 -63px;
    padding: 0;
    border: none;
    cursor: pointer;
    border-radius: 50%;
    background-color: transparent;
    transition: all 0.2s ease-in-out;
}
.maps-moon1a:hover{
    filter: brightness(1.3);
}
.maps-moon1a:active{
    filter: brightness(1);
}
.maps-moon1a-img{
    width: 25px;
    height: 25px;
    transform: rotate(200deg);
    filter: drop-shadow(0 0 0.2rem #000);
}
.maps-moon1a-img:hover{
    filter: drop-shadow(0 0 1rem #000);
    transition: all 0.2s ease-in-out;
}