.login{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 160px;
    animation: navFadeIn 2s linear;
    &__container{
        width: auto;
        text-align: center;
    }
    .default-card{
        &__container{
        width: 400px;
        height: 320px;
        padding-bottom: 0;
            &-title{
                text-transform: uppercase;
            }
            &-button{
                display: flex;
                flex-direction: row;
                justify-content: space-around;
            }
        }
    }
}

.valid-button{
    @include validButton;
    display: inline-block;
    width: 130px;
    height: 35px;
    margin: 30px 0 0 0;
}
.cancel-button{
    @include cancelButton;
    display: inline-block;
    width: 130px !important;
    height: 35px;
    margin: 30px 0 0 0;
}