@keyframes navFadeIn {
    0%{
        opacity: 0;
    }
    50%{
        opacity: 0;
    }
    100%{
        opacity: 100%;
    }
}
.header{
    display: block;
    position: fixed;
    animation: navFadeIn 2s linear;
    height: 0;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    &__container{
        display: block;
        position: fixed;
        width: 100%;
        height: 100px ;
        &-title{
            display: block;
            position: absolute;
            background-color: #1C1C1C;
            width: 100%;
            height: 100%;
            z-index: 4;
            &-text{
                z-index: 2;
                font-family: Nasalization;
                text-align: center;
                font-weight: 400;
                font-size: 35px;
                line-height: 25px;
                margin-top: 30px;
                color: white;
                cursor: default;
                &::selection {
                    background: transparent;
                }
            }
        }
        &-nav{
            position: absolute;
            height: 0;
            margin-top: 35px;
            right: 0;
            left: 0;
            &-list{
                list-style: none;
                padding: 100px 0 0 0;
                display: flex;
                flex-direction: column;
                align-items: center;
                bottom: 0;
                opacity: 0;
                height: 100vh;
                transform: translateY(-120%);
                transition: all 0.35s ease-in-out;
                z-index: -1;
                border-left: solid 1px transparentize($color: white, $amount: 0.50); 
                &-item{
                    width: 100%;
                    position: relative;
                    padding-top: 13vh;
                    text-align: center;
                    &:hover{
                        .header__container-nav-list-item-line{
                            width: 25vw !important;
                            background-color: white;
                            box-shadow: 0 0 10px white;
                        }
                        .header__container-nav-list-item-link{
                            color: white;
                            filter: drop-shadow(0 0 10px white);
                            border-left: solid 10px white;
                        }
                    }
                    &-line{
                        position: absolute;
                        background-color: transparentize($color: white, $amount: 0.50);
                        height: 1px;
                        width: 20vw;
                        overflow: hidden;
                        margin-top: -40px;
                        transition: all 0.3s ease-in-out;
                    }
                    &-link{
                        display: block;
                        text-decoration: none;
                        color: $light-gray;
                        font-size: 28px;
                        font-family: AllRoundGothic;
                        transition: all 0.2s ease-in-out;
                        margin-top: -95px;
                        margin-left: -10px;
                        padding: 40px;
                        border-left: solid 0px white;
                        transition: all 0.3s ease-in-out;
                    }
                }
            }
            &-button{
                display: block;
                z-index: 5;
                position: absolute;
                top: -36px;
                background-color: transparent;
                border: none;
                height: 100px;
                width: 100%;
                cursor: pointer;
                .fa-chevron-down{
                    display: block;
                    color: white;
                    font-size: 20px;
                    position: relative;
                    margin-top: 70px;
                    transition: all 0.3s ease-in-out;
                }
                .fa-chevron-up{
                    display: block;
                    color: white;
                    font-size: 20px;
                    position: relative;
                    margin-top: 80px;
                    transition: all 0.3s ease-in-out;
                }
                &:active{
                    .fa-chevron-down{
                        margin-top: 80px;
                    }
                    .fa-chevron-up{
                        margin-top: 70px;
                    }
                }
            }
        }
    }
}

.show-nav {
    transform: translateY(0);
    background-color: transparentize($color: black, $amount: 0.4);
    backdrop-filter: blur(5px);
    opacity: 1;
    height: 100vh !important;
}