.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 150px;
  animation: navFadeIn 2s linear;
  width: auto;
  height: 100vh;

  &__container {
    width: auto;
    height: 100vh;
    text-align: center;
  }
}

.valid-button {
  @include validButton;
  display: inline-block;
  margin-top: 30px;
  margin-right: 30px;
}

.cancel-button {
  @include cancelButton;
  display: inline-block;
  margin-right: 30px;
}

.link-button {
  @include linkButton;
  display: inline-block;
}