
html,
body {
  height: 100%;
}
$i: white;

.home{
    background-color: black;
    height: 1200px;
    .stars {
        position: relative;
        background-color: white;
        }
      
      @for $i from 1 through 500 {
        
        .stars:nth-of-type(#{$i}) {
          color: $i;
          top: random(101) - 1 + vh;
          left: random(101) - 1 + vw;
          width: random(2) + px;
          height: random(2) + px;
          animation: move #{random(10) + 5}s ease-in-out infinite;
          animation-delay: calc(#{$i} * #{random(10) + 10} / 100);
          @keyframes move {
            0% {
                opacity: 0;
                transform: translate(0, 0);
            }
            50% {
                transform: translate(random(11) - 1 + vw, random(11) - 1 + vh);
                opacity: calc(random(50) / 100) + 0.5;
            }  
            100% {
                opacity: 0;
                transform: translate(0, 0);
            }
          }
        }
      }
    h1{
        font-size: 20px;
        font-weight: bold;
    }
}