@mixin baseButton{
    width: 120px;
    height: 35px;
    border-radius: 3px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    transition: all 0.1s ease-in-out;
    &:hover{
            transform: translate(0,1px);
            box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.25);
        }
    &-text{ 
        color: white;
        font-family: AllRoundGothic;
        font-size: 15px;
        text-align: center;
        text-decoration: none;
        border-radius: 3px;
        display: block;
        width: 100%;
        padding-top: 9.45px;
        padding-bottom: 9.45px;
        transition: all 0.1s ease-in-out;
        &:hover{
            color: white;
        }
        &:active{
            color: white;
            background-color: rgba(0, 0, 0, 0.25);
        }
    }
}

@mixin validButton {
    @include baseButton;
    background-color: $green;
}

@mixin cancelButton {
    @include baseButton;
    background-color: $red;
}

@mixin linkButton {
    @include baseButton;
    background-color: $blue;
    &-text{
        color: $gray-blue;
        &:hover{
            color: $gray-blue;
        }
        &:active{
            color: $gray-blue;
        }
    }
}