// Style Utils :
@import './style/fonts.scss';
@import './style/colors.scss';

// Layout :
@import './Components/Layout/Header/header.scss';
@import './Components/Layout/Footer/footer.scss';
@import './Components/Layout/Loader/loader.scss';
@import './Components/Layout/Background/background.scss';

// Small Components :
@import './Components/Buttons/buttons.scss';
@import './Components/SvgMaps/svgMaps.scss';

// Cards :
@import './Components/Cards/ModalCard/modalCard.scss';
@import './Components/Cards/ImageCard/imageCard.scss';
@import './Components/Cards/DefaultCard/defaultCard.scss';

// Error Pages :
@import './Pages/Error/noMatch.scss';

// Pages :
@import './Pages/Home/home.scss';
@import './Pages/Join-us/join-us.scss';
@import './Pages/Maps/maps.scss';
@import './Pages/Login/login.scss';
@import "./Pages/About/About.scss";

// General Properties :
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
}

html,
body {
  position: absolute;
  background-color: #1C1C1C;
  overflow: visible;
  overflow-y: overlay;
  width: 100%;
  z-index: -1;
  margin: 0;

  ::-webkit-scrollbar {
    position: absolute;
    width: 10px;

    &-track {
      margin-top: 100px;
    }

    &-thumb {
      background: #1C1C1C;

      &:hover {
        background: #3b3b3b;
      }
    }
  }
}

@media screen and (max-width: 580px) {
  html,
  body {
    ::-webkit-scrollbar {
      width: 0;
    }
  }
}