@import './utils/fonts.scss';
@import './utils/colors.scss';
@import './utils/buttons.scss';

@import './Components/Home/home.scss';
@import './Components/Layout/Background/background.scss';
@import './Components/Layout/Header/header.scss';
@import './Components/Layout/Footer/footer.scss';
@import './Components/Layout/Loader/loader.scss';
@import './Components/Join-us/join-us.scss';
@import './Components/Cards/DefaultCard/defaultCard.scss';

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
}

html,
body {
  position: absolute;
  background-color: #1C1C1C;
  overflow: visible;
  overflow-y: overlay;
  width: 100%;
  z-index: -1;
  margin: 0;
  ::-webkit-scrollbar {
    position: absolute;
    width: 10px;
    &-track {
      margin-top: 100px;
    }
    &-thumb {
      background: #1C1C1C;
      &:hover {
        background: #3b3b3b;
      }
    }
  }
}