.default-card {

  &__container {
    margin: auto;
    box-sizing: border-box;
    width: 80%;
    max-width: 1200px;
    height: auto;
    background-color: transparentize($gray-card, 0.3);
    border: 1px solid #70767B;
    border-radius: 12px;
    padding: 0 20px 40px 20px;

    &-title {
      width: 100%;
      padding: 40px 0 40px 0;
      font-family: Nasalization;
      font-size: 30px;
      color: $light-gray;
      font-style: normal;
      font-weight: 400;
      text-align: center;
    }

    &-firstText {
      display: inline-block;
      width: 80%;
      font-family: AllRoundGothic;
      color: $light-gray;
      font-style: normal;
      font-weight: 200;
      font-size: 18px;
      line-height: 21px;
      padding-bottom: 20px;
      white-space: pre-line;
      vertical-align: bottom;
      text-align: left;
    }

    &-secondText {
      display: inline-block;
      width: 80%;
      font-family: AllRoundGothic;
      color: $light-gray;
      font-style: normal;
      font-weight: 200;
      font-size: 18px;
      line-height: 21px;
      white-space: pre-line;
      vertical-align: bottom;
      text-align: left;
    }
  }
}
